<section class="c-landing-how-it-works">
  <div class="c-grid">
    <div class="c-grid__inner">
      <div
        class="c-grid__cell c-landing-how-it-works__section c-landing-how-it-works__section--main"
      >
        <div class="c-landing-how-it-works__section-wrapper">
          <h5 class="c-landing-how-it-works__heading">
            How it works
          </h5>
          <div class="c-landing-how-it-works__description">
            Affordable, safe housing for youth in extended foster care in San Francisco.
            <br>
            <a href="#faq" title="Open FAQ" class="c-landing-how-it-works__faq-link" data-turbolinks="false">
              Read our FAQs
            </a>
          </div>
          <svg class="c-landing-how-it-works__section-path">
            <use
              xlink:href="<%= asset_pack_path('media/images/landing/path-1.svg') %>#svg"
              class="c-landing-how-it-works__section-path-image c-landing-how-it-works__section-path-image--mobile"
            ></use>
            <use
              xlink:href="<%= asset_pack_path('media/images/landing/path-1-full.svg') %>#svg"
              class="c-landing-how-it-works__section-path-image c-landing-how-it-works__section-path-image--full"
            ></use>
          </svg>
        </div>
      </div>
      <div class="c-grid__cell c-landing-how-it-works__section">
        <div class="c-landing-how-it-works__section-wrapper">
          <div class="c-landing-how-it-works__section-image">
            <%= image_pack_tag('media/images/icons/list-space-icon.svg') %>
          </div>
          <div class="c-landing-how-it-works__section-description">
            <h5 class="c-landing-how-it-works__heading">
              List your space
            </h5>
            <div class="c-landing-how-it-works__description">
              Hosts can list their space on our platform. The first step for hosts is to tell us about the room and
              their living preferences. We will follow up to approve your house.
            </div>
          </div>
          <svg class="c-landing-how-it-works__section-path">
            <use xlink:href="<%= asset_pack_path('media/images/landing/path-2.svg') %>#svg" class="c-landing-how-it-works__section-path-image c-landing-how-it-works__section-path-image--mobile"></use>
            <use xlink:href="<%= asset_pack_path('media/images/landing/path-2-full.svg') %>#svg" class="c-landing-how-it-works__section-path-image c-landing-how-it-works__section-path-image--full"></use>
          </svg>
        </div>
      </div>
      <div class="c-grid__cell c-landing-how-it-works__section">
        <div class="c-landing-how-it-works__section-wrapper">
          <div class="c-landing-how-it-works__section-image">
            <%= image_pack_tag('media/images/icons/connect-icon.svg') %>
          </div>
          <div class="c-landing-how-it-works__section-description">
            <h5 class="c-landing-how-it-works__heading">
              Connect
            </h5>
            <div class="c-landing-how-it-works__description">
              Youth are able to browse available houses and message hosts about spaces they are interested in. If youth
              and host are both interested in living together, we will schedule an in-person meeting.
            </div>
          </div>
          <svg class="c-landing-how-it-works__section-path">
            <use xlink:href="<%= asset_pack_path('media/images/landing/path-3.svg') %>#svg" class="c-landing-how-it-works__section-path-image c-landing-how-it-works__section-path-image--mobile"></use>
            <use xlink:href="<%= asset_pack_path('media/images/landing/path-3-full.svg') %>#svg" class="c-landing-how-it-works__section-path-image c-landing-how-it-works__section-path-image--full"></use>
          </svg>
        </div>
      </div>
      <div class="c-grid__cell c-landing-how-it-works__section">
        <div class="c-landing-how-it-works__section-wrapper">
          <div class="c-landing-how-it-works__section-image">
            <%= image_pack_tag('media/images/icons/create-agreement-icon.svg') %>
          </div>
          <div class="c-landing-how-it-works__section-description">
            <h5 class="c-landing-how-it-works__heading">
              Create living agreement
            </h5>
            <div class="c-landing-how-it-works__description">
              Youth and host write an agreement to ensure they have shared expectations about living together.
            </div>
          </div>
          <svg class="c-landing-how-it-works__section-path">
            <use xlink:href="<%= asset_pack_path('media/images/landing/path-4.svg') %>#svg" class="c-landing-how-it-works__section-path-image c-landing-how-it-works__section-path-image--mobile"></use>
            <use xlink:href="<%= asset_pack_path('media/images/landing/path-4-full.svg') %>#svg" class="c-landing-how-it-works__section-path-image c-landing-how-it-works__section-path-image--full"></use>
          </svg>
        </div>
      </div>
      <div class="c-grid__cell c-landing-how-it-works__section">
        <div class="c-landing-how-it-works__section-wrapper">
          <div class="c-landing-how-it-works__section-image">
            <%= image_pack_tag('media/images/icons/move-in-icon.svg') %>
          </div>
          <div class="c-landing-how-it-works__section-description">
            <h5 class="c-landing-how-it-works__heading">
              Move in!
            </h5>
            <div class="c-landing-how-it-works__description">
              Once the youth and host decide to go forward and the unit inspection is complete, a social worker will
              follow up to formalize the arrangement and move-in date.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
