<%= form_with(
        model:  User.new,
        as:     :user,
        url:    password_path(:json),
        method: :post,
        remote: true,
        html:   {
            class:             'c-sign-modal',
            'data-controller': 'auth',
            'data-action':     'ajax:error->auth#signUpError ajax:success->auth#signUpSuccess',
            'data-type':       :json,
        }
    ) do |form| %>
  <div class="c-sign-modal__icon">
    <%= image_pack_tag('media/images/icons/complete-icon.svg') %>
  </div>
  <h1 class="c-sign-modal__heading" id="forgot-password-modal-heading">
    Forgot your password?
  </h1>

  <div class="c-sign-modal__message hidden">
    <div data-target="auth.messageContainer"></div>

    <a href="#" data-action="modal#close" data-turbolinks="false">Close</a>
  </div>

  <div class="c-sign-modal__fields" data-target="auth.formFields">
    <template data-target="auth.errorsTemplate">
      <div class="c-sign-modal__errors" data-target="auth.errors"></div>
    </template>

    <div class="c-sign-modal__input">
      <%= render(
              partial: 'partials/form/text-field',
              locals:  {
                  form:          form,
                  property:      :email,
                  plain:         true,
                  field_options: {
                      autofocus:    true,
                      autocomplete: 'email',
                      placeholder:  'Email*'
                  }
              }
          ) %>
    </div>

    <div class="c-sign-modal__submit">
      <%= form.submit('Reset password', class: 'o-btn o-btn--round o-btn--primary') %>
    </div>

    <div class="c-sign-modal__links">
      <a
        href="<%= root_path %>"
        title="Sign In"
        data-turbolinks="false"
      >
        Sign in
      </a><br/>
      <a
        href="#sign-up"
        title="Sign Up"
        data-turbolinks="false"
      >
        Sign up
      </a><br/>
      <a
        href="#account-confirmation"
        title="Resend account confirmation instructions"
        data-turbolinks="false"
      >
        Didn't receive confirmation instructions?
      </a><br/>
    </div>
  </div>
<% end %>
