<div class="c-survey-form">
  <div class="c-survey-form__section-head">
    <h2 class="c-survey-form__heading">
      Survey Questions
    </h2>
  </div>

  <div class="c-grid__inner c-survey-form__wrapper">

    <%= render(
            'surveys/partials/details-question',
            property: :can_develop_and_understand_budget,
            question: t('model.survey.properties.can_develop_and_understand_budget'),
            form: form
        ) %>

    <%= render(
            'surveys/partials/details-question',
            property: :can_pay_rent,
            question: t('model.survey.properties.can_pay_rent'),
            form: form
        ) %>

    <%= render(
            'surveys/partials/details-question',
            property: :can_manage_money,
            question: t('model.survey.properties.can_manage_money'),
            form: form
        ) %>

    <%= render(
            'surveys/partials/details-question',
            property: :pursuing_goals,
            question: t('model.survey.properties.pursuing_goals'),
            form: form
        ) %>

    <%= render(
            'surveys/partials/details-question',
            property: :can_manage_schedule,
            question: t('model.survey.properties.can_manage_schedule'),
            form: form
        ) %>

    <%= render(
            'surveys/partials/details-question',
            property: :prepare_own_meals,
            question: t('model.survey.properties.prepare_own_meals'),
            form: form
        ) %>

    <%= render(
            'surveys/partials/details-question',
            property: :cleans_after_self,
            question: t('model.survey.properties.cleans_after_self'),
            form: form
        ) %>

    <%= render(
            'surveys/partials/details-question',
            property: :can_participate_in_shared_chores,
            question: t('model.survey.properties.can_participate_in_shared_chores'),
            form: form
        ) %>

    <%= render(
            'surveys/partials/details-question',
            property: :is_accessing_services,
            question: t('model.survey.properties.is_accessing_services'),
            form: form
        ) %>

    <%= render(
            'surveys/partials/details-question',
            property: :can_explain_drinking_strategies,
            question: t('model.survey.properties.can_explain_drinking_strategies'),
            form: form
        ) %>

    <%= render(
            'surveys/partials/details-question',
            property: :responsible_substance_use,
            question: t('model.survey.properties.responsible_substance_use'),
            form: form
        ) %>

    <%= render(
            'surveys/partials/details-question',
            property: :participate_in_house_agreements,
            question: t('model.survey.properties.participate_in_house_agreements'),
            form: form
        ) %>

    <%= render(
            'surveys/partials/details-question',
            property: :can_manage_anger,
            question: t('model.survey.properties.can_manage_anger'),
            form: form
        ) %>

    <%= render(
            'surveys/partials/details-question',
            property: :have_support,
            question: t('model.survey.properties.have_support'),
            form: form
        ) %>

    <%= render(
            'surveys/partials/details-question',
            property: :aware_of_community_resources,
            question: t('model.survey.properties.aware_of_community_resources'),
            form: form
        ) %>

  </div>
</div>
