<div class="c-form c-grid__inner c-tab" id="account-info" data-target="tabs.tab">
  <div class="c-form__wrapper c-grid__cell c-grid__cell--span-12">
    <div class="c-form__section-heading">
      <h2>
        Account Info
      </h2>
    </div>

    <div class="c-form__row c-grid__inner">
      <div class="c-form-field <%= add_error_class(form, :role) %> c-grid__cell">
        <%= render(
                partial: 'partials/form/dropdown-field',
                locals:  {
                    form:     form,
                    label:    'User Type*',
                    property: :role,
                    options:  User.humanized_profiles,
                    prompt:   'Select one',
                    disabled: true
                }
            ) %>
      </div>

      <div class="c-form-field c-grid__cell">
        <% unless @user.role_changed? %>
          <a href="#update-password" title="Change your password" data-turbolinks="false">Change password</a>
        <% end %>
      </div>
    </div>

    <div class="c-form__row c-grid__inner">
      <div class="c-form-field <%= add_error_class(form, :first_name) %> c-grid__cell">
        <%= render(
                'partials/form/text-field',
                {
                    form:     form,
                    label:    'First Name*',
                    property: :first_name
                }
            ) %>
      </div>

      <div class="c-form-field <%= add_error_class(form, :last_name) %> c-grid__cell">
        <%= render(
                'partials/form/text-field',
                {
                    form:     form,
                    label:    'Last Name*',
                    property: :last_name
                }
            ) %>
      </div>
    </div>

    <div class="c-form__row c-grid__inner">
      <div class="c-form-field <%= add_error_class(form, :email) %> c-grid__cell">
        <%= render(
                'partials/form/email-field',
                {
                    form:     form,
                    label:    'Government Issued E-mail Address*',
                    property: :email
                }
            ) %>
      </div>
    </div>

  </div>
  <div class="c-form__actions c-grid__cell c-grid__cell--span-12">
    <% if @user.role_changed? %>
      <a
        href="<%= profile_type_path %>"
        title="Go to previous step"
        class="o-btn o-btn--round o-btn--outline"
        onclick="return confirm('Are you sure? All changes will be lost!')"
      >
        Previous
      </a>
    <% end %>
    <%= form.submit(
            'Submit',
            class: 'o-btn o-btn--primary o-btn--round',
        ) %>
  </div>
</div> <!-- END c-tab 0 -->
