<!DOCTYPE html>
<html>
<head>
  <title>Launchpads</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_packs_with_chunks_tag 'stylesheets', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_packs_with_chunks_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body data-controller="document">
<%= render partial: 'partials/header' %>
<main>
  <%= yield %>
</main>
<%= render partial: 'partials/footer' %>
</body>
</html>
